{% extends "base.html" %}
{% block scripts %}
    <link href="{{STATIC_URL}}css/tinyscrollbar.css" rel="stylesheet" />
{% endblock %}
{% block content %}
	<div class="about_us">
		<div id="scrollbar1">
         <div class="scrollbar">
         	<div class="track">
         		<div class="thumb">
         			<div class="end"></div>
         		</div>
         	</div>
        </div>
            <div class="viewport">
                 <div class="overview">
                 	<h2>{{ page.short_text|safe }}</h2>
                 	{{ page.body|safe }}
                 </div>
        	</div>

		</div>

	</div>
    <img src="{{STATIC_URL}}images/about_us.png" alt="" class="uzor">
{% endblock %}
{% block dopscripts %}
<script src="{{STATIC_URL}}js/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript">
    $(function(){
                $('#scrollbar1').tinyscrollbar({
                    thumbSize: 42,
                });
            });
</script>
{% endblock %}
