{% extends "base.html" %}

{% load i18n widget_tweaks %}
{% block content %}
<div class="authorization">
{% if not user.is_authenticated %}
	<div class="col-xs-6">
		<h2>{% trans "Authorization" %}</h2>
		<p class="item1">{% trans "Dear friends, to get access to additional features site, you need to be registered. This procedure should take you about five minutes" %}.</p>

		{{ register_form.non_field_errors }}
		<form action="{% url 'login_and_register' %}" class="registration" method="POST">{% csrf_token %}
			<input type="hidden" name="action" value="register" />
			{% for field in register_form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field|add_error_class:"error" }}
	            {% if field.name == 'is_subscribe' %}
					{{ field.label }}
				{% endif %}
	    	{% endfor %}
	    	<div class="clr"></div>
	    	<input type="reset" value="{% trans 'Reset' %}">
			<input type="submit" value="{% trans 'Submit' %}">
		</form>
	</div>
	<div class="col-xs-6">
		<h2>{% trans "Already registered" %} ?</h2>
		{{ login_form_errors }}
		{{ login_form.non_field_errors }}
		<form action="{% url 'login_and_register' %}" class="enter" method="POST">{% csrf_token %}
		<input type="hidden" name="action" value="login" />
			{% for field in login_form.visible_fields %}
				{{ field.errors }}
				{{ field|add_error_class:"error" }}
	    	{% endfor %}
			<input type="submit" value="{% trans 'Log in' %}">
		</form>
	</div>
{% else %}
<span><a href="{% url 'logout' %}">{% trans "You are registered yet" %}</a></span>
{% endif %}
</div>
{% endblock %}
{% block dopscripts %}
{% endblock %}

