{% extends "base.html" %}

{% block content %}

<div class="thank">
	<hr class="up">
	{% if request.LANGUAGE_CODE == 'en' %}
		<p>Thank you for registering with www.viniciocamerlengo.com   .
    Your account has been created and a verification email with Username and Password has been sent to your registered email address.
If you have any problems please contact our support - viniciocamerlengo@gmail.com

		</p>
	{% else %}
		<p>
Grazie per esserti registrato al www.viniciocamerlengo.com   .
Gentile utente, riceverai a breve una e-mail con  il tuo Username la tua password all’indirizzo e-mail che hai fornito.    
Per qualunque problema tecnica vi preghiamo di contattarci per viniciocamerlengo@gmail.com	
		</p>
	{% endif %}
	<hr class="down">
</div>
{% endblock %}
{% block dopscripts %}
<script type="text/javascript">
	/*setTimeout(function () {
       window.location.href = "{% url 'home' %}"; //will redirect to your blog page (an ex: blog.html)
    }, 3000); //will call the function after 2 secs.*/
</script
{% endblock %}