{% extends "base.html" %}
{% load thumbnail news_tags %}
{% block content %}
{% if slider %}
<div class="angle">
	<img src="{{STATIC_URL}}images/angle.png" alt="">
	<div class="slider">					
		<ul class="bxslider">
		{% for slide in slider %}
			<li>
				{% thumbnail slide.image '982x430' upscale=False format='PNG' as im %}
          		<img src="{{ im.url }}" title="{{ slide.name }}" alt="{{ slide.name }}">
                {% endthumbnail %}
            </li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endblock %}




