@font-face {
    font-family: Bdebonita; 
    src: url(../fonts/Bdebonita.ttf); 
}
@font-face {
    font-family: Abel-Regular; 
    src: url(../fonts/Abel-Regular.ttf); 
}	
li{list-style-type: none;}
label {font-weight: normal;}
ul{
 	margin: 0;
 	padding: 0;
}
body{
	background: url(../images/bg_left.png) repeat-y left top,
				url(../images/bg_right.png) repeat-y right top;
	min-width: 1023px;
}
body, html{height: 100%;}
h1{
	font-family: Bdebonita; 
	font-size: 30px;
	color: #333;
	text-align: right;
	margin: 26px 16px 0px 0px;

}
h2{
	font-family: Bdebonita; 
	font-size: 30px;
	color: #333;
	line-height: 24px;
}
.container{
	max-width: 1023px !important;
	width: 1023px;
	/*box-shadow: 0px 0px 0px 1px #000;*/
}
section .container{background: url(../images/uzor.png) repeat-y #fff 15px -10px;/*padding-bottom: 44px;*/}
header{
	background: url(../images/bg_header.jpg) repeat-x;
	height: 25px;
}
.pleer{
	float: left;
	margin: 0px 22px 4px -21px;
}
header img{}
header a{
	float: left;
	width: 12px;
	height: 8px;
	background: url(../images/lang.png) no-repeat;
	margin: 7px 14px 0px 0px;
}
header a.it{background-position: 0px 0px;}
header a.en{background-position: -26px 0px;}
.logo{margin: 80px 0px 0px 29px;}

div.slider {
margin: 97px 5px 0px 0px;
padding: 0px 0px 0px 13px;


}
div.slider li {

height: 464px;
}
nav{
	font-family: Bdebonita; 
	font-size: 28px;
	margin: 41px 0px 0px 90px;
}
nav li{
	background: url(../images/li.png) no-repeat center left;
	padding-left: 62px;
}
nav a{color: #777;}
nav a:hover{color: #111;text-decoration: none;}
.angle{
	position: relative;
	overflow: hidden;
	height: 561px;
}
.angle>img{
	position: absolute;
	z-index: 999;
	bottom: 0;
	right: 0;
}
.autograph{margin: 65px 0px 0px 113px;}

footer{
	background: url(../images/bg_footer.png) repeat-x;
	font-family: Abel-Regular;
	height: 98px;
}

img.logo_footer{margin: 20px 0px 0px 44px;}

ul.footer_menu{
	
	margin: 33px 0px 0px -20px;
}
ul.footer_menu li{}
ul.footer_menu a{
	float: left;
	color: #fff;
	font-size: 16px;
	margin-right: 25px;
}
.soc{margin: 29px 0px 0px -55px;}
.soc a{
	float: left;
	background: url(../images/soc.png);
	width: 23px;
	height: 23px;
	margin-right: 5px;
}
.soc a.fb{background-position: 0px 0px;}
.soc a.tw{background-position: -27px 0px;}
.soc a.in{background-position: -56px 0px;}

.soc a.fb:hover{background-position: 0px -32px;}
.soc a.tw:hover{background-position: -27px -32px;}
.soc a.in:hover{background-position: -56px -32px;}
.qr{margin: -7px 0px 0px 43px;}
.cop{
	color: #fff;
	font-size: 14px;
	text-align: center;
	margin: -9px 0px 8px 37px;
}
.about_us{
	margin: 67px 0px 0px -20px;
}
.about_us img.big{margin: 0px 0px 45px 32px;}
.about_us img.little{
	float: left;
	margin: -7px 30px 0px 31px;
}
img.uzor{margin-top: 34px;}
.about_us p{
	font-family: Abel-Regular;
	font-size: 14px;
	color: #333;
	line-height: 24px;
	margin: 0px 0px 23px 1px;
	letter-spacing: 0.221px
}
.about_us img.little + p{margin-top: -19px;}

.contacts{margin: 47px 0px 0px 0px;}

.map{margin: 25px 0px 0px -4px;}
.contacts form{
	font-family: Abel-Regular;
	margin: -13px 0px 0px -4px;
}
.contacts input[type="text"]{
	display: block;
	font-size: 12px;
	height: 28px;
	width: 300px;
	margin-bottom: 10px;
	padding: 1px 8px;
}
.contacts h2{margin-bottom: 21px;}
.contacts form div{
	float: left;
	margin-right: 10px
}
.contacts form textarea{
	width: 300px;
	height: 104px;
	padding: 4px 8px;
	resize: none;
}

.info{
	font-family: Abel-Regular;
	margin: 25px 0px 0px 0px;
	width: 290px;
}
.info h5{
	color: #111111;
	font-size: 14px;
	margin-bottom: 7px;
}
.info p{
	color: #777;
	padding: 0px 0px 0px 26px;
	margin-bottom: 4px;
}
.contacts input[type="reset"], .contacts input[type="submit"]{
	background: url(../images/button.png) no-repeat;
	border: 0;
	font-size: 18px;
	color: #fff;
	font-family: Abel-Regular;
	background-position: 0px 2px;
	outline: 0;
}
.contacts input[type="reset"]{	
	padding: 0px 30px 0px 19px;
	margin: 3px -1px 0px 65px;
}
.contacts input[type="submit"]{
	padding: 0px 25px 0px 13px;
	margin-top: 3px;
}
.contacts input[type="reset"]:hover,
.authorization form input[type="submit"]:hover{background-position: -90px 2px;}
.authorization{
	font-family: Abel-Regular;
	margin-top: 48px;
	background: url(../images/about_us.png) no-repeat center bottom;
	padding-bottom: 42px;
	float: left;

}
.authorization p.item1{
	font-size: 14px;
	color: #777;
	margin: 0px 0px 0px -1px;
	width: 270px;
	line-height: 14px;
}
form.registration{margin: 22px 0px 0px -4px;width: 365px;}
.authorization form input[type="text"], .authorization form input[type="password"]{
	display: block;
	font-size: 12px;
	height: 28px;
	width: 250px;
	margin-bottom: 20px;
	padding: 1px 8px;
}
form.registration hr{
	border: 0;
	margin-top: 32px;
}
form.registration p{margin: -8px 0px 0px 0px;}
form.registration input[type="checkbox"]{margin-right: 4px;} 
.authorization form input[type="reset"], .authorization form input[type="submit"]{
	background: url(../images/button.png) no-repeat;
	border: 0;
	font-size: 18px;
	color: #fff;
	font-family: Abel-Regular;
	background-position: 0px 2px;
	outline: 0;
}
.authorization form input[type="reset"]{	
	padding: 0px 30px 0px 19px;
	margin: 0 -1px 0px 78px;
	width: 88px;
}
.authorization form input[type="submit"]{padding: 0px 25px 0px 13px;
}
form.registration input[type="reset"]:hover,
form.registration input[type="submit"]:hover{background-position: -90px 2px;}

form.enter{margin: 24px 0px 0px -10px;}

form.enter input[type="text"], form.enter input[type="password"]{width: 300px;}
form.enter input[type="submit"]{
	float: right;
	margin: -12px 5px 0px 0px;
	padding: 0px 0px;
	width: 83px;
}
.events{
	float: left;
	margin: 55px 0px 0px -37px;
}
.events h2{margin-bottom: 0;}
.events p{
	font-family: Abel-Regular;
	color: #666;
	line-height: 17px;
	margin: 0px 0px 0px 2px;
	letter-spacing: 0.19px;
}
.events p.date{	
	float: right;
	color: #777;
	margin: -9px 7px 0px 0px;
}
.events p.logo_brend{margin: 12px 0px 25px 2px;}
.title{
	float: left;
	padding: 0px 0px 0px 10px;
	width: 215px;
	font-family: Abel-Regular;
	background: #ebebeb;
	height: 104px;
}
.l_title{
	float: left;
	font-size: 12px;
	margin: 7px 0px 0px -4px;
	width: 112px;
	line-height: 15px;
	color: #000;
	text-shadow: 1px 0px 0px #aaa;
}
.l_title a{
	text-decoration: underline;
	color: #777;
	font-size: 12px;
	text-shadow:0
}
.r_title{
	float: left;
	text-transform: uppercase;
	color: #000;
	text-shadow: 1px 0px 0px #aaa;
	margin: 7px 0px 0px -8px;
	line-height: 17px;
}
.r_title span{color: #777;text-shadow: 0;}
.banner{
	margin: 0px 0px 0px 0;
	width: 215px;
}
.banner img{width: 215px;}

#scrollbar1 .overview_even{
	width: 428px;
	height: 411px;
}

#scrollbar1 .viewport_even{
	width: 428px;
	height: 411px;
}
.calendar{
	margin: 0px 0px 0px -10px;
	width: 199px;
}
.events #scrollbar1 .scrollbar{
	top: 11px;
	right: -3px;
	z-index: 9999;
}
.events .bx-wrapper {
margin: 45px 0px 0px -24px !important;

}
p.download{
	background: url(../images/pdf.png) no-repeat right center;
	float: right;
	text-shadow: 1px 0px 0px #b51a22;
	padding: 16px 37px 0px 0px;
	margin: 0px 55px 0px 0px;
	height: 33px;
	
}
p.download a{color: #b51a22;}




/* slider on product.html */
div.hoverscroll div.listcontainer {
	overflow:hidden;
}
div.hoverscroll div.fixed-listcontainer {
    overflow: hidden;
    float: left;
}

/* Actual list containing items */
div.hoverscroll ul.list {
	list-style:none;
	margin:0;
	padding:0;
}

/* Items contained in the list */
div.hoverscroll ul.list li.item {
	display:block;
	padding:0;
}
div.hoverscroll.horizontal ul.list li.item {
	float:left;
}
div.hoverscroll.horizontal.rtl ul.list li.item {
	float: right;
}

/**
 * HoverScroll Style Sheet
 *
 * @author RasCarlito <carl.ogren@gmail.com>
 * @version 0.2.3
 * @revision 19
 */

/* Main container */
div.hoverscroll {
	position:relative;
}


/* List container */
div.hoverscroll div.listcontainer {
	overflow:hidden;
}
div.hoverscroll div.fixed-listcontainer {
    overflow: hidden;
    float: left;
}

/* Actual list containing items */
div.hoverscroll ul.list {
	list-style:none;
	margin:0;
	padding:0;
}

/* Items contained in the list */
div.hoverscroll ul.list li.item {
	display:block;
	padding:0;
}
div.hoverscroll.horizontal ul.list li.item {
	float:left;
}



/* Arrows */
div.hoverscroll div.arrow {
	position:absolute;
	float:none;
	background-color:#ccc;
	background-position:center;
	background-repeat:no-repeat;
	opacity:0.8;
	filter:alpha(opacity=80);
}
div.hoverscroll div.fixed-arrow {
    display: block;
    float: left;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
}

div.hoverscroll div.arrow.left,
div.hoverscroll div.arrow.right,
div.hoverscroll div.fixed-arrow.left,
div.hoverscroll div.fixed-arrow.right {
	top:0px;
	width:40px;
	height:100%;
}
div.hoverscroll div.arrow.left,
div.hoverscroll div.fixed-arrow.left {
	left:0px;
	background-image:url('../gfx/arrow-left-small.png');
}
div.hoverscroll div.arrow.right,
div.hoverscroll div.fixed-arrow.right {
	right:0px;
	background-image:url('../gfx/arrow-right-small.png');
}

div.hoverscroll div.arrow.top,
div.hoverscroll div.arrow.bottom,
div.hoverscroll div.fixed-arrow.top,
div.hoverscroll div.fixed-arrow.bottom {
	width: 215px;
height: 25px;
opacity: 0.5;
}
div.hoverscroll div.arrow.top,
div.hoverscroll div.fixed-arrow.top {
	top:0px;
	background-image:url('../gfx/arrow-up-small.png');
	
}
div.hoverscroll div.arrow.bottom,
div.hoverscroll div.fixed-arrow.bottom {
	bottom:0px;
	background-image:url('../gfx/arrow-down-small.png');
}



div.hoverscroll div.hoverZoneLeft,
div.hoverscroll div.hoverZoneRight,
div.hoverscroll div.hoverZoneTop,
div.hoverscroll div.hoverZoneBottom {
	position:absolute;
}
div.hoverscroll div.hoverZoneLeft {
	cursor: url('../gfx/mouse-arrow-left.cur'), w-resize;
	top:0px;
	left:0px;
	width:40%;
	height:100%;
}
div.hoverscroll div.hoverZoneRight {
	cursor: url('../gfx/mouse-arrow-right.cur'), w-resize;
	top:0px;
	right:0px;
	width:40%;
	height:100%;
}
div.hoverscroll div.hoverZoneTop {
	cursor: url('../gfx/mouse-arrow-up.cur'), n-resize;
	top:0px;
	left:0px;
	width:100%;
	height:40%;
}
div.hoverscroll div.hoverZoneBottom {
	cursor: url('../gfx/mouse-arrow-down.cur'), n-resize;
	bottom:0px;
	left:0px;
	width:100%;
	height:40%;
}



.hoverscroll{margin: 12px 0px 0px -30px;}

.catalog{margin: 75px 0px 0px -20px;}
.catalog img{margin: 1px 0px 0px -1px;}

input.text.error, input[type="text"].error, input[type="password"].error, textarea.error {
	border:1px solid #e64b68;
}

ul.errorlist li{
	font-size: 12px;
	color:#e64b68;
}

.album-cover,.track-info,.tracklist,.description{
	display: none !important;
}
div.song{
	display: none;
}

section .start{
	background: none;
	padding-top: 150px;
	text-align: center;
}
section .start a{
	font-family: Bdebonita;
	color: #000;
	font-size: 36px;
	font-weight: bold;
}
.sten{background-image: url(../images/bg_priv2.png);background-size: 176px;}


.title p.download{
	float: left;
	background: url(../images/pdf.png) no-repeat 0 0;
	padding: 16px 11px 0px 39px;
	margin: 7px 0px 0px 14px;
}

.thank {
text-align: center;
padding-top: 138px;
}
.sten form{
	float: left;
	margin-top: 175px;
}
.sten img{float: left;}


.step-links{font-family: Abel-Regular;}
.errors_404{
	font-family: Abel-Regular;
	color: #666;
	margin: 57px 0px 0px 0px;
	text-align: center;
	width: 990px;
	padding-left: 60px;

}
.errors_404 p{
	font-size: 35px;
}
.errors_404 span{
	font-size: 150px;
}
.errors_404 img{
	margin: -2px 0px 0px 169px;
vertical-align: baseline;
}
.errors_404 a{color: #666;text-decoration: underline;}
.errors_404 small{
	font-size: 18px;
	position: relative;
top: 14px;
}
main{
	min-height: 100%; 
height: auto !important;
height: 100%;
margin-bottom: -98px;
padding: 0;
padding-bottom: 98px;
}
section{

}

.exit{color: #fff;margin: 4px 0px 0px 0px;}
.exit span{
	float: left;
color: #fff;
font-size: 12px;
margin: 0px 6px 0px 0px;
}
.exit a{
	background: none;
	margin: -3px 0px 0px 0px;
	width: 10px;
	height: 12px;


}
a.reg{
	color: white;
	background: none;
	margin: 0px 0px 0px 0px;
	width: 41px;
	height: 12px;
}



.tooltip{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
}
            









