/* Tiny Scrollbar */
#scrollbar1 {
	width: 672px;
}
#scrollbar1 .viewport { width: 650px;
	 height: 573px;
	 overflow: hidden;
	 position: relative;
}
#scrollbar1 .overview { list-style: none;
	 position: absolute;
	 left: 0;
	 top: 0;
	 padding: 0;
	 margin: 0;
}
#scrollbar1 .scrollbar{
	position: relative;
	float: right;
	width: 10px;
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
#scrollbar1 .track {
	 height: 100%;
	 width:10px;
	 position: relative;
	 padding: 0 1px;
}
#scrollbar1 .thumb {
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat;
	height: 20px;
	width: 10px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -1px;
}
/*#scrollbar1 .thumb .end { background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
	 overflow: hidden;
	 height: 5px;
	 width: 25px;
}*/
#scrollbar1 .disable { display: none;}
.noSelect {
	user-select: none;
	 -o-user-select: none;
	 -moz-user-select: none;
	 -khtml-user-select: none;
	 -webkit-user-select: none;
}
