<!DOCTYPE html>
{% load i18n docent page_tags generic_flatblocks %}
<html>
<head>
	<meta charset="utf-8" />
	    <title>404</title>
	<link rel="icon" type="image/ico" href="{{STATIC_URL}}images/favicon.ico"/>
	<meta name="viewport" content="width=1023">
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/jquery.bxslider.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_music.css">
	{% block scripts %}{% endblock %}	
</head>
<body>
	<main>
<header>

<div class="container">
	<div class="row">	
	<div class="col-xs-offset-8 col-xs-2">
		<div class="speakker"></div>
			
			{% for lang in LANGUAGES %}
			<div class="lang">
		      <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
		        {% csrf_token %}

		        <input type="hidden" name="language" value="{{ lang.0 }}">
		        <a href="#" class="{{ lang.0 }}" onclick="document.setLang{{ lang.1 }}.submit();
		            return false;"></a>
		     </form>
		     </div> 
		  	{% endfor %} 
		  	
	</div>
	<div class="col-xs-2">
		<div class="exit">
		{% if user.is_authenticated %}
			<span href="">{{ user.username }}</span>
			<span>| </span>
			<a href="{% url 'logout' %}"><img src="{{STATIC_URL}}images/exit.png" alt=""></a>
		{% else%}
			<span><a class="reg" href="{% url 'login_and_register' %}">{% trans "Log in" %}</a></span>
			<span>| </span>
			<span><a class="reg" href="{% url 'login_and_register' %}">{% trans "Registraion" %}</a></span>
		{% endif %}

		</div>
	</div>
	</div>
</div>	
</header>

{% load i18n thumbnail  %}

{% block content %}
<div class="errors_404">

<p><span>404</span>page not found ...</p>
<p>
	<img src="{{STATIC_URL}}images/404.png" alt="">
	<small>Return to <a href="/">home</a></small>
</p>
</div>
</main>
<footer>

	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<a href="/"><img src="{{STATIC_URL}}images/logo_footer.png" alt="" class="logo_footer"></a>
			</div>
			<div class="col-xs-6">
				<ul class="footer_menu">
					</a></li>
					{% include 'includes/info_pages_menu.html' %}
				</ul>
			</div>
			<div class="col-xs-2">
				<div class="soc">
					<a href="" class="fb"></a>
					<a href="" class="tw"></a>
					<a href="" class="in"></a>
				</div>
				<img src="{{STATIC_URL}}images/qr.png" alt="place-start" class="qr">
			</div>
			<div class="col-xs-12">
				<p class="cop">{% trans "2013@Copyright. All right reserved" %}</p>
			<div>
		</div>
		{% get_song %}
	</div>	
</footer>
{% endblock %}
