{% load page_tags %}

{% actions main_menu %}

{% for action in actions %}
    {% if action.active %}
    <li><a href="{{ action.link }}">
	    {% if request.LANGUAGE_CODE == 'en' %}
	    	{{ action.title }}
	    {% else %}
	    	{{ action.title_it }}
	    {% endif %}
    {% endif %}
    </a></li>
    
{% endfor %}