<!DOCTYPE html>
{% load i18n docent page_tags generic_flatblocks %}
<html>
<head>
	<meta charset="utf-8" />
	{% block seo %}
		{% docent_seo %}
	{% endblock %}
	<link rel="icon" type="image/ico" href="{{STATIC_URL}}images/favicon.ico"/>
	<meta name="viewport" content="width=1023">
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/jquery.bxslider.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_music.css">
	{% block scripts %}{% endblock %}	
</head>
<body>
	<main {% block main %}{% endblock %}>
<header>

<div class="container">
	<div class="row">	
	<div class="col-xs-offset-8 col-xs-2">
		<div class="speakker"></div>
			
			{% for lang in LANGUAGES %}
			<div class="lang">
		      <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
		        {% csrf_token %}

		        <input type="hidden" name="language" value="{{ lang.0 }}">
		        <a href="#" class="{{ lang.0 }}" onclick="document.setLang{{ lang.1 }}.submit();
		            return false;"></a>
		     </form>
		     </div> 
		  	{% endfor %} 
		  	
	</div>
	<div class="col-xs-2">
		<div class="exit">
		{% if user.is_authenticated %}
			<span href="">{{ user.username }}</span>
			<span>| </span>
			<a href="{% url 'logout' %}"><img src="{{STATIC_URL}}images/exit.png" alt=""></a>
		{% else%}
			<span><a class="reg" href="{% url 'login_and_register' %}">{% trans "Log in" %}</a></span>
			<span>| </span>
			<span><a class="reg" href="{% url 'login_and_register' %}">{% trans "Registraion" %}</a></span>
		{% endif %}

		</div>
	</div>
	</div>
</div>	
</header>
<section>
	<div class="container">
		<div class="test"></div>
		<div class="row">
			<div class="col-xs-4">	
				<div class="logo">
					<a href="/"><img src="{{STATIC_URL}}images/logo.png" alt=""></a>
				</div>
				<nav>					
					{% include 'includes/info_pages_menu.html' %}
				</nav>
				<div class="autograph">
					<img src="{{STATIC_URL}}images/autograph.png" alt="">
				</div>
			</div>
			<div class="col-xs-8">
				<h1>...{% trans "100% Italian and handmade" %}.</h1>
				{% block content %}
			
				{% endblock %}
			</div>
		</div>
	</div>

</section>
</main>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<a href="/"><img src="{{STATIC_URL}}images/logo_footer.png" alt="" class="logo_footer"></a>
			</div>
			<div class="col-xs-7">
				<ul class="footer_menu">
					</a></li>
					{% include 'includes/info_pages_menu.html' %}
				</ul>
			</div>
			<div class="col-xs-1">
				<div class="soc">
					<!-- <a href="" class="fb"></a>
					<a href="" class="tw"></a>
					<a href="" class="in"></a> -->
				</div>
			<!-- 	<img src="{{STATIC_URL}}images/qr.png" alt="place-start" class="qr"> -->
			</div>
			<div class="col-xs-12">
				<p class="cop">
				{% gblock 'copyright' for 'gblocks.title' into 'copyright_link' %}
				{{ copyright_link.title|safe }}</p>
			<div>
		</div>
		{% get_song %}
	</div>
	    {% gblock 'metrika' for 'gblocks.text' into 'metrika' %}
        {{ metrika.text|safe }}	
</footer>
<span>
	<script src="{{STATIC_URL}}js/jquery-latest.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.jplayer.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ttw-music-player.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/myplaylist.js"></script>
	<script src="{{STATIC_URL}}js/jquery.bxslider.min.js"></script>
	<script>
	Array.prototype.shuffle = function( b )
	{
	 var i = this.length, j, t;
	 while( i ) 
	 {
	  j = Math.floor( ( i-- ) * Math.random() );
	  t = b && typeof this[i].shuffle!=='undefined' ? this[i].shuffle() : this[i];
	  this[i] = this[j];
	  this[j] = t;
	 }
	 
	 return this;
	};
		var myPlaylist = [];
		$( ".song" ).each(function() {
			var s2 = {{MEDIA_URL}} + $(this).attr("vid");
			var a = {};
			a.mp3 = s2;
			myPlaylist.push(a);
		});
		myPlaylist = myPlaylist.shuffle();


        $('.speakker').ttwMusicPlayer(myPlaylist, {
            autoplay:true, 
            jPlayer:{
                swfPath:'{{STATIC_URL}}js/jquery-jplayer' //You need to override the default swf path any time the directory structure changes
            }
        });


		$('.bxslider').bxSlider({
			pager: false,
			speed: 2000,
			pause: 5000,
			auto: true,
			mode: 'fade',
		});
		


	</script>
	{% block dopscripts %}{% endblock %}
</span>
</body>
</html>


























