<!DOCTYPE html>
{% load  i18n docent  generic_flatblocks %}
<html>
<head>
	<meta charset="utf-8" />
	{% block seo %}
		{% docent_seo %}
	{% endblock %}
	<meta name="viewport" content="1023px">
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/jquery.bxslider.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet">

	<style>
	section .start{
	background: none;
	padding-top: 150px;
	text-align: center;
}
section .start a{
	font-family: Bdebonita;
	color: #000;
	font-size: 36px;
	font-weight: bold;
}

.sten{background-image: url("{{STATIC_URL}}/images/bg_priv2.png");background-size: 176px;}
	</style>
</head>
<body>
<main class="sten">

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">	
				<div class="start">
				{% for lang in LANGUAGES %}
			      <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
			        {% csrf_token %}
			        <input name="next" type="hidden" value="/">
			        <input type="hidden" name="language" value="{{ lang.0 }}"/>
			        <a href="#"  onclick="document.setLang{{ lang.1 }}.submit();
			            return false;">{{ lang.1}}</a>
			     </form>
			     {% if forloop.counter == 1 %}
			     	<img src="{{STATIC_URL}}images/logo_pr.png" alt="">{% endif %}
			  	{% endfor %} 
			  	</div>
			</div>
		</div>
	</div>
</section>
</main>
<span>
	<script src="{{STATIC_URL}}js/jquery-latest.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script>

	$(function() {

		$("body").css({padding:0,margin:0});
		  var f = function() {
		    $(".ndra-container").css({position:"relative"});
		    var h1 = $("body").height();
		    var h2 = $(window).height();
		    var d = h2 - h1;
		    var h = $(".ndra-container").height() + d;    
		    var ruler = $("<div>").appendTo(".ndra-container");       
		    h = Math.max(ruler.position().top,h);
		    ruler.remove();    
		    $(".ndra-container").height(h);
		  };
		  setInterval(f,1000);
		  $(window).resize(f);
		  f();
		 
		});
	</script>
</span>
</body>
</html>

























