{% extends 'base.html' %}
{% load i18n thumbnail %}
{% block scripts %}
<link href="{{STATIC_URL}}css/tinyscrollbar.css" rel="stylesheet" />
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="events">	
	<div class="col-xs-8">
		<div class="scroll">
	        <div class="scrollbar-inner">
				<h2>
				{% with events|first as first_doc %}{{ first_doc.short|safe }}
				</h2>
				<p class="date">{{ first_doc.creation_date }}</p>
					{{ first_doc.body|safe }}
				{% if user.is_authenticated %}
					<p class="download">
					{% if first_doc.pdf %}
						<a href="{{MEDIA_URL}}{{ first_doc.pdf }}">{% trans "download details" %}</a>
					{% endif %}
					</p>
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>			
	<div class="col-xs-4">
		<div class="my-list">
			{% for event in events %}
			<div class="slide">
				<div class="title autoriz">					
					<div class="col-xs-7">
						<!-- сделал ссылку из заголовка. Аяксом должна быть -->
						<div class="l_title">						
							<a href="" class="author_a" num="{{ event.pk }}">
								{{ event.title|safe }}
							</a>
							<!-- убрал ссылку за ненадобностью							 
							<a blank="_self" href="{{ event.link }}">{{ event.link|safe }}</a>-->
						</div>
					</div>
					<div class="col-xs-5">
						<div class="r_title">{{ event.date|safe }}</div>
					</div>
					<p class="download"><a href="{{MEDIA_URL}}{{ event.pdf }}">{% trans "download details" %}</a></p>			
				</div>
				
			</div>

			{% endfor %}

		</div>
	</div>
</div>
<img src="{{STATIC_URL}}images/about_us.png" alt="" class="uzor">
{% else %}
	
	
<div class="thank th_2">
	<hr class="up">
<p>{% trans "This page is available to only authorized users" %}.
{% trans "Please" %}
<a href="{% url 'login_and_register' %}">{% trans "registered" %}</a> {% trans "or" %}
<a href="{% url 'login_and_register' %}">{% trans "become authorized" %}</a>
<hr class="down">
</div>
	


{% endif %}
{% endblock %}
{% block dopscripts %}
<link href="{{STATIC_URL}}css/jquery.scrollbar.css" rel="stylesheet">
<script src="{{STATIC_URL}}js/js-utils.js"></script>
<!--<script src="{{STATIC_URL}}js/jquery.tinyscrollbar.min.js"></script>-->
<script src="{{STATIC_URL}}js/jquery.scrollbar.min.js"></script>
<script type="text/javascript">
$('.scrollbar-inner').scrollbar();
$('.my-list').hoverscroll({
    vertical: true,
    width: 217,
    height: 485,
    fixedArrows: true,
    rtl: false,
    arrows:   true,
    arrowsOpacity: 0.5,
});

</script>


{% endblock %}