{% load i18n %}
<div class="scrollbar-inner">
	<h2>{{ event.short|safe }}</h2>
	<p class="date">{{ event.creation_date }}</p>
		{{ event.body|safe }}
	{% if user.is_authenticated %}<p class="download">
	{% if event.pdf %}<a href="{{MEDIA_URL}}{{ event.pdf }}">{% trans "download details" %}</a>{% endif %}</p>{% endif %}
</div>