{% if seo_meta %}
	<title>{{ seo_meta.title }}</title>
	<meta name="keywords" content="{{ seo_meta.keywords }}" />
	<meta name="description" content="{{ seo_meta.description }}" />
{% else %}
	<title>viniciocamerglengo.com</title>
{% endif %}