<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
.td30{
	width: 20%;
}

    </style>
</head>
<body>
<p>Здравствуйте, Злата.</p>
<h3>С сайта viniciocamerlengo.com поступило сообщение.</h3>
<table id="common" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
    	<td style="width:30%;">От</td>
    	<td>{{ name }}</td>
    </tr>
    <tr>
    	<td style="width:30%;">Email</td>
    	<td>{{ email }}</td>
    </tr> 
    <tr>
    	<td style="width:30%;">Телефон</td>
    	<td>{{ phone }}</td>
    </tr>
    <tr>
    	<td style="width:30%;">Сообщение</td>
    	<td>{{ body }}</td>
    </tr>
</table>
    <p>c ув.сервис сайта viniciocamerlengo.com </p>                      
</body>
</html>