<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
.td30{
	width: 20%;
}

    </style>
</head>
<body>
<p>Здравствуйте, Злата.</p>
<h3>На сайте viniciocamerlengo.com новый пользователь.</h3>
<table id="common" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
    	<td style="width:30%;">Имя пользователя</td>
    	<td>{{ user }}</td>
    </tr>
</table>
<div>Для просмотра полной инфмормации о пользователе, и его активации, <br>
пройдите,пожалуйста,<a href="http://{{ domain }}/admin/auth/user/{{user.pk}}"/> по ссылке</a>
</div>
    <p>c ув.сервис сайта viniciocamerlengo.com </p>                      
</body>
</html>