<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
.td30{
	width: 20%;
}

    </style>
</head>
<body>
<p>Hi,{{ user.username }}.</p>
<h3>Your accaunt on site viniciocamerlengo.com is activated!</h3>
<p>Please,log in on out site with:</p>
<table id="common" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
    	<td style="width:30%;">username</td>
    	<td>{{ user.username }}</td>
    </tr>
    <tr>
    	<td style="width:30%;">password</td>
    	<td> {{ user_profile.password }}</td>
    </tr>
</table>                  
</body>
</html>