<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
.td30{
	width: 20%;
}

    </style>
</head>
<body>
<p>Hi,{{ user.username }}</p>
{{ body }}                   
</body>
</html>