{% extends "base.html" %}
{% load  i18n  generic_flatblocks %}
{% block content %}
<div class="contacts">
	<div class="col-xs-6">
		<div class="l_contact">
		<!-- 	<h2>{% trans "Stay in Touch" %}</h2> -->
			<div class="map"><img src="{{STATIC_URL}}images/map.png" alt="">

			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="info">
			{% gblock 'info' for 'gblocks.titleandtext' into 'info' %}
			{{ info.text|safe }}
			
		</div>
		<div class="soc">
		 	{% gblock 'fb_link' for 'gblocks.title' into 'fb_link' %}
            {% gblock 'instagram_link' for 'gblocks.title' into 'instagram_link' %}
            {% gblock 'tweet_link' for 'gblocks.title' into 'tweet_link' %}
            {% gblock 'pinterest_link' for 'gblocks.title' into 'pinterest_link' %}
			<a href="{{ fb_link.title }}" class="fb" target="_blank"></a>
			<a href="{{ tweet_link.title }}" class="tw" target="_blank"></a>
			<a href="{{ instagram_link.title }}" class="in" target="_blank"></a>
			<a href="{{ pinterest_link.title }}" class="pt" target="_blank"></a>
		</div>
	</div>

	
	<div class="col-xs-12">
					<form action="{% url 'send_form' %}" id="contactForm">{% csrf_token %}
				<h2 align="right">{% trans "Contact Form" %}</h2>
				<div class="ajaxIns">
					<div>
					    {% for field in form.visible_fields %}
					    	{{ field.errors }}
					    	{% if field.name != 'text' %}
					        	{{ field }}
					        {% endif %}
					    {% endfor %}
					</div>
					<textarea cols="40" id="id_text" name="text" placeholder="{% trans 'Enter Your Message' %}" rows="10"></textarea>
					<input type="reset" value="{% trans 'Reset' %}" id="frmReset">
					<input type="submit" value="{% trans 'Submit' %}" id="frmSbmt">
				</div>
			</form>
	</div>
</div>
{% endblock %}
{% block dopscripts %}
<script src="{{STATIC_URL}}js/js-utils.js"></script>
{% endblock %}