{% extends "base.html" %}
{% load i18n %}
{% block scripts %}
	<link href="{{STATIC_URL}}css/tinyscrollbar.css" rel="stylesheet" />
{% endblock %}
{% load  thumbnail %}
{% block content %}
<div class="events">	
	<div class="col-xs-8">
       <div class="scroll">
            <div class="scrollbar-inner">
	            <div class="news">
	            {% for n in news %}
					<h2>{{ n.title|safe }}</h2>
					<p class="date">
						{{ n.creation_date|date:"d M Y" }}
					</p>
						{{ n.body|safe }}
					{% if n.pdf %}
						<p class="download">
							<a href="{{MEDIA_URL}}{{ n.pdf }}">{% trans "download details" %}</a>
						</p>
					{% endif %}
				{% endfor %}
				</div>
			</div>
    	</div>
	</div>			
	<div class="col-xs-4">
		<div class="my-list">
		{% for event in events %}
				<div class="slide">
				<div class="title">					
					<div class="col-xs-7">
						<div class="l_title">
							<span class="city">{{ event.place|safe }}</span><br>
							{{ event.title|safe }} 						
							 						
						
						</div>
					</div>
					<div class="col-xs-5">
						<div class="r_title">{{ event.date|safe }}</div>
					</div>
					<div class="col-xs-12">
						<a href="http://{{ event.link }}" target="blank">{{ event.link|safe }}</a>
					</div>
				</div>
				<div class="banner">
					
						{% thumbnail event.image '159x108' upscale=False format='PNG' as im %}
						<img src="{{ im.url }}" title="{{ slide.name }}" alt="{{ slide.name }}" />
					{% endthumbnail %}
					
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
<img src="{{STATIC_URL}}images/about_us.png" alt="" class="uzor">
{% endblock %}
{% block dopscripts %}
<link href="{{STATIC_URL}}css/jquery.scrollbar.css" rel="stylesheet">
<!--<script src="{{STATIC_URL}}js/jquery.tinyscrollbar.min.js"></script>-->
<script src="{{STATIC_URL}}js/js-utils.js"></script>
<script src="{{STATIC_URL}}js/jquery.scrollbar.min.js"></script>
<script type="text/javascript">
hover();
//var $scrollbar1 = $("#scrollbar1");
//$scrollbar1.tinyscrollbar();-->
$('.scrollbar-inner').scrollbar();
  $('.slider8').bxSlider({
    	mode: 'vertical',
    	slideWidth: 215,
    	minSlides: 2,
    	pager: false,
    	auto: true,
    	autoHover: true
  });
</script>
{% endblock %}