{% extends "base.html" %}
{% block scripts %}
<link href="{{STATIC_URL}}css/highslide.css"  rel="stylesheet" type="text/css" />
{% endblock %}
{% block main %}{% endblock %}
{% load i18n thumbnail  %}

{% block content %}
<div class="catalog highslide-gallery">
{% for product in products %}
<a class='highslide' onclick="return hs.expand(this)" href="{% thumbnail product.image '680x437' upscale=False format='PNG' as big %}{{ big.url }}{% endthumbnail %}">
	{% thumbnail product.image '159x108' upscale=False format='PNG' as im %}
		<img src="{{ im.url }}" title="{{ slide.name }}" alt="{{ slide.name }}" />
	{% endthumbnail %}
</a>

{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "page" %} {{ products.number }} {% trans "of" %} {{ products.paginator.num_pages }}
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
{% if not user.is_authenticated %}
<div class="reg_text">
	<p>{% trans "To view full version of the new collections please" %}<a href="/register/">{% trans "registered" %}</a> {% trans "or" %} <a href="/register/">{% trans "become authorized" %}</a>.</p>
</div>
{% endif %}

{% endblock %}
{% block dopscripts%}
<script src="{{STATIC_URL}}js/highslide-full.js"></script>
<script type="text/javascript">
$(document).on("click",'.highslide',function(event){
	if ($("main").hasClass("effect")){
		$("main").removeClass("effect");
	}else{
		$("main").addClass("effect");
	}
	

});

	hs.graphicsDir = '/media/static/images/';
	hs.align = 'center';
	hs.transitions = ['expand', 'crossfade'];
	hs.fadeInOut = true;
	hs.dimmingOpacity = 0.8;
	hs.outlineType = 'rounded-white';
	hs.captionEval = 'this.thumb.alt';
	hs.marginBottom = 105; // make room for the thumbstrip and the controls
	hs.numberPosition = 'caption';

	// Add the slideshow providing the controlbar and the thumbstrip
	hs.addSlideshow({
		//slideshowGroup: 'group1',
		interval: 5000,
		repeat: false,
		useControls: true,
		overlayOptions: {
			className: 'text-controls',
			position: 'bottom center',
			relativeTo: 'viewport',
			offsetY: -60
		},
		thumbstrip: {
			position: 'bottom center',
			mode: 'horizontal',
			relativeTo: 'viewport'
		}

	});
</script>
{% endblock %}